  
body{
    display: flex;

    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

div#input
{
    display:flex;
    flex-wrap: wrap; 
    background-color:red;
    

}
button#button
{
    
    align-items: center;
}

div#holder
{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;


}

.break
{
    flex-basis: 100%;
    height: 0;
}

.form{
    background-color: blueviolet;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.inputc{
    background-color:black;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

