  
body{
    display: flex;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    background-image: url(bg.gif);
    background-size: cover;

}
#holder
{
    flex-basis: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.input
{
    flex-basis: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 2;
    align-items: center;
   
    

}

#input
{
    background-image:url(index.jpeg);
    background-size: cover;
    height: 25%;
    box-shadow: 1.5px 2px 5px 0px rgba(0,0,0,0.75);
    
    border: 20px solid #F4E3C9;
    box-shadow: inset 0px 0px 0px 1px red;

    margin-left: 5.5%;
    margin-top: 11%;
}

.break
{
    flex-basis: 100%;
    height: 0;
}


button
{
    border-radius: 0px;
    box-shadow: 1.5px 2px 5px 0px rgba(0,0,0,0.75);

    border: 5px double black ;
    height: 2rem;
    
    
}
