  
body{
    display: flex;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    flex-wrap: wrap;
    justify-content: space-between;
}
#holder
{
    flex-basis: 66%;
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    background-image:url(index.jpeg);
    background-size: cover;
}

.input
{
    flex-basis: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 2;
    align-items: center;
    background-image:url(index.jpeg);
    background-size: cover;
    

}

#input
{
    background-image:url(index.jpeg);
    background-size: cover;
}

.break
{
    flex-basis: 100%;
    height: 0;
}


button
{
    border-radius: 0px;
    box-shadow: 1.5px 2px 5px 0px rgba(0,0,0,0.75);

    border: 5px double black ;
    height: 2rem;
    
    
}
